<!DOCTYPE html>
<html>
<head>
  <title>Vuetify Google Autocomplete</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyJUwEpWPLTDZrX9TVeq5m8vGQScqyZCA&libraries=places"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css">
  <script src="https://use.fontawesome.com/7e9dc1e680.js"></script>
</head>
<body>
  <v-app id="app" standalone>
    <main>
      <v-card class="grey lighten-2" style="width: 100%" flat>
        <v-layout row>
            <v-flex xs12 style="min-height: 200px; background-image: linear-gradient(141deg,#009e6c 0,#00d1b2 71%,#00e7eb 100%);">
                <v-container>
                    <h1 style="color: #fff;font-size: 2.75rem;font-weight: 300;line-height: 1.125;">Vuetify Google Autocomplete</h1>
                    <h2 style="color: rgba(255,255,255,.9);margin-top: -1.25rem;font-size: 1.25rem; font-weight: 300; line-height: 1.25;">A Vuetify ready Vue.js autosuggest component for the Google Maps Places API. Based on <a :href="vueGoogleAutocompleteLink">Vue Google Autocomplete</a>.</h2>
                </v-container>
            </v-flex>
        </v-layout>
        <v-container grid-list-md>
          <v-layout row wrap>
            <v-flex xs6>
              <v-card flat height="314px">
                <v-container>
                  <v-alert error v-model="errorAlert.visible">{{ errorAlert.message }}</v-alert>
                  <p>Start typing an address to see the result returned from Google.</p>
                  <vuetify-google-autocomplete
                    :id="id"
                    :append-icon="appendIcon"
                    :classname="classname"
                    :clearable="clearable"
                    :country="country"
                    :disabled="disabled"
                    :enable-geolocation="enableGeolocation"
                    :label="labelText"
                    :placeholder="placeholderText"
                    :prepend-icon="prependIcon"
                    :required="required"
                    :types="types"
                    v-on:placechanged="getAddressData"
                  >
                  </vuetify-google-autocomplete>
                </v-container>
                <v-container>
                  <v-layout row>
                    <v-flex xs2>Result:</v-flex>
                      <v-flex xs10>
                        <div class="message-body">{{ address }}</div>
                      </v-flex>
                  </v-layout>
                </v-container>
              </v-card>
              <br>
              <v-card flat height="335px">
                <v-toolbar flat dense class="grey lighten-1">
                  <v-toolbar-title class="body-2" style="color: white;">Generated HTML</v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-tooltip top>
                    <v-btn slot="activator" v-clipboard="outputHtml" @success="handleCodeCopySuccess('HTML')" @error="handleCodeCopyError('HTML')" icon>
                      <v-icon>content_copy</v-icon>
                    </v-btn>
                    <span>Copy HTML</span>
                  </v-tooltip>
                </v-toolbar>
                <v-container>
                  <pre><code style="width: 100%; overflow: auto;">{{ outputHtml }}</code></pre>
                </v-container>
              </v-card>
              <br>
              <v-card flat>
                <v-toolbar flat dense class="grey lighten-1">
                  <v-toolbar-title class="body-2" style="color: white;">Generated JS</v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-tooltip top>
                    <v-btn slot="activator" v-clipboard="outputJs" @success="handleCodeCopySuccess('JS')" @error="handleCodeCopyError('JS')" icon>
                      <v-icon>content_copy</v-icon>
                    </v-btn>
                    <span>Copy JS</span>
                  </v-tooltip>
                </v-toolbar>
                <v-container>
                  <pre><code style="width: 100%; overflow: auto;">{{ outputJsData }}</code></pre>
                  <br>
                  <pre><code style="width: 100%; overflow: auto;">{{ outputJsCallback }}</code></pre>
                </v-container>
              </v-card>
            </v-flex>
            <v-flex xs6>
              <v-card flat>
                <v-toolbar flat dense class="grey lighten-1">
                  <v-toolbar-title class="body-2" style="color: white;">Code Repositories</v-toolbar-title>
                </v-toolbar>
                <v-list two-line>
                  <template v-for="repo in repos">
                    <v-divider v-if="repo.divider" v-bind:inset="repo.inset"></v-divider>
                    <v-list-tile avatar v-else v-bind:key="repo.title" :href="repo.link">
                      <v-list-tile-avatar>
                        <v-icon v-if="repo.isIcon" large>{{ repo.icon }}</v-icon>
                        <img v-else v-bind:src="repo.icon" class="icon icons8-NPM" width="40" height="40"></v-list-tile-avatar>
                      </v-list-tile-avatar>
                      <v-list-tile-content>
                        <v-list-tile-title v-html="repo.title"></v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                  </template>
                </v-list>
              </v-card>
              <br>
              <v-card>
                <v-toolbar flat dense class="grey lighten-1">
                  <v-toolbar-title class="body-2" style="color: white;">Properties</v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                  <v-text-field label="id" v-model="id"></v-text-field>
                  <v-text-field label="append-icon" v-model="appendIcon"></v-text-field>
                  <v-text-field label="prepend-icon" v-model="prependIcon"></v-text-field>
                  <v-text-field label="classname" v-model="classname"></v-text-field>
                  <v-text-field label="Label Text" v-model="labelText"></v-text-field>
                  <v-text-field label="Placeholder Text" v-model="placeholderText"></v-text-field>
                  <v-switch label="Clearable" v-model="clearable" color="secondary" hide-details></v-switch>
                  <v-switch label="Disabled" v-model="disabled" color="secondary" hide-details></v-switch>  
                  <v-switch label="Enable Geolocation" v-model="enableGeolocation" color="secondary" hide-details></v-switch>
                  <v-switch label="Required" v-model="required" color="secondary" hide-details></v-switch>
                  <v-select label="Types" v-bind:items="typesOptions" v-model="types" hint="Choose types" persistent-hint></v-select>
                  <v-select label="Countries" v-bind:items="countryOptions" item-text="Name" item-value="Code" v-model="country" multiple max-height="400" hint="Choose countries to limit search to" :rules="[countryValidationRules]" persistent-hint></v-select>
                  <v-text-field label="Callback Function" v-model="callbackFunction"></v-text-field>
                </v-card-text>
              </v-card>

            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
      <v-snackbar
        :timeout="4000"
        :success="snackbar.context === 'success'"
        :info="snackbar.context === 'info'"
        :warning="snackbar.context === 'warning'"
        :error="snackbar.context === 'error'"
        :primary="snackbar.context === 'primary'"
        :secondary="snackbar.context === 'secondary'"
        v-model="snackbar.visible"
        >{{ snackbar.text }}<v-btn dark flat @click.native="snackbar.visible = false">Close</v-btn>
      </v-snackbar>
    </main>
  </v-app>
  <script src="../dist/app.js"></script>
</body>
</html>
